
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
}

/*Formato y posicion del video*/

.video-container {
  width: 80%;
  margin: 0 auto;
  text-align: center; /* Centra el video si es inline */
}

video {
  display: block;
  width: 100%;
  height: auto;
}

/* Estilo para el textarea */
textarea {
  width: 100%;
  padding: 12px;
  font-size: 32px;
  font-family: 'Cinema St Regular';
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  resize: vertical; /* Permite redimensionar solo en altura. Usa 'none' para desactivar */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 8px;
}

/* Estado al enfocar (focus) */
textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

p{
  font-size: 32px;
  font-family: 'Cinema St Regular';
  font-weight:normal
}

.header {
  text-align: center;
  width:auto;
  padding: 2px 2px;
  background: linear-gradient(135deg, #ec7532,#fbbd61);
  border-radius: 20px;
  margin-bottom: 0;
  box-shadow: 0 12px 32px rgba(255, 107, 157, 0.3);
}





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cinema St Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cinema St Regular'), url('cinema_st.woff') format('woff');
}

#half-stars-example {

/*  display:inline-flex para evitar problemas de espacios en blanco.
 *
 */
  .rating-group {
    display: inline-flex;
  }

  /* Efecto para mostrar las estrellas que recorre el cursor del usuario */
  .rating__icon {
    pointer-events: none;
  }

  /* deja de resaltar cuando el usuario no ha seleccionado un puntaje*/
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* Ajuste de iconos */
  .rating__label {
    cursor: pointer;
    /* Recorrido de estrellas de izquierda a derecha */
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* Formato de relleno para medias estrellas*/
  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }

  /* color de la estrella */
  .rating__icon--star {
    color: orange;
  }

  /* remocion de color cuando no seleccionado un puntaje */
  .rating__icon--none {
    color: #eee;
  }

  /* Resalta en rojo si no ha valorado la pelicula */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* Resalta las estrellas que no fueron coloreadas a gris*/
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* Colorean las estrellas hasta acorde a la posicion de la barra de valoracion */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  /* Resalta en gris las demas estrellas fuera del alcance, al pasar por el cursor*/
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }

  /* Coloreado de estrellas a gris predeterminado al cargar la pagina */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* Icono en rojo para resaltar que no ha valorado la pelicula */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

.wrappper {
  display: inline-block;
  align-items: center;
  padding: 4px 8px;
  position: relative;
  background: #212121;
  border-radius: 10px;
  max-width: 100%;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  top: 0;
  z-index: 1;
}

.label {
  cursor: pointer;
  outline: none;
  font-size: 32px;
  letter-spacing: initial;
  font-weight: 500;
  color: #212121;
  background: transparent;
  padding: 12px 16px;
  width: auto;
  min-width: 100px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.25s ease;
  outline-offset: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

.label span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* Tipografia para BCine Sitio Principal */
@font-face {
  font-family: 'Cinema St Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cinema St Regular'), url('cinema_st.woff') format('woff');
}


.footer {
  text-align: center;
  padding: 20px 10px;
  margin-top: 60px;
  background: linear-gradient(135deg, #d8d8d8);
  border-radius: 20px;
}
