<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BCine</title>
<link rel="stylesheet" href="/static/BCine_principal.css">
</head>

<body>
    <nav> <!-- Barra de navegacion -->
    <a href=""> Principal </a>
    <a href=""> Géneros </a>
    <a href=""> Cuenta </a>
    <span></span>
    </nav>
</body>
<section>
    <div class="card">
        <img class="img" src="https://imgs.search.brave.com/jXngnu6tfKjUe0ow6gODmGbHA1W1keyC9myg_LafEm8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/c3VwZXJhZmljaW9u/YWRvcy5jb20vaW1h/Z2VuZXMvNi1sYXMt/bWVqb3Jlcy1wZWxp/Y3VsYXMtZGUtZHJh/bWEtdW4tdHJhbnZp/YS1sbGFtYWRvLWRl/c2VvLmpwZw" alt="peli">
        <h4 class="heading" ></h4>
        <p class="description"> ALGO ASI </p>
        <button class="btn"> Ver </button>
    </div>
</section>
</html>
