<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mundo Astronave</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:40%;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}

</style>

<body>
<!--    Encabezado de la página -->
<h1>Peliculas Ciencia Ficción</h1>
{% for x in peliculasFC%}
    <tr>
    <div class="card"> <!--  Inicia el entorno para añadir contenido  -->
        <img src="algo.png" alt="Avatar" style="width:100%"> <!--  Carga la imagen del producto  -->
        <div class="container"> <!--  Inicia entorno para mostrar los datos del producto  -->
            <h4><b>{{x.nombre}}</b></h4> <!-- Muestra el nombre del producto   -->
            <p>{{x.director}}</p> <!--  Muestra el precio del producto   -->
            <a href="#" class="btn btn-primary"> Añadir al carrito</a>
        </div><!--  Finaliza el entorno para mostrar el contenido  -->
    </div> <!--  Finaliza la tarjeta para mostrar el producto  -->
    </tr></br></br>
{%endfor%}
<!--  Finaliza el iterador una vez creadas las tarjetas para cada producto  -->


<!--    -->
</body>
</html>
